.container {
  background-image: url(../../assets/depositions/background.png);
}

.content {
  height: 100%;
  padding: 0 24px;
  background: rgba(0, 36, 50, 0.8);

  h1 {
    text-align: center;
    padding-top: 59px;
    font: 300 38px Cormorant, sans-serif;
    color: #f2f2f2f2;
  }

  .divider {
    height: 1px;
    width: 53px;
    margin: 10px auto 0;
    background: #70b0c4;
  }
}

.swiperContainer {
  text-align: center;

  .avatar {
    margin: 56px auto 36px;
    height: 109px;
    width: 109px;
    border-radius: 50%;
    background: var(--gold);

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 105px;
      width: 105px;
      border-radius: 50%;
    }
  }

  .depositionText {
    margin-top: 36px;
    font: 300 24px Cormorant, sans-serif;
    font-style: italic;
    color: var(--gray-500);
    line-height: 29.06px;
  }

  .author {
    margin-top: 27px;
    font: 400 20px Cormorant, sans-serif;
    color: var(--gold);
  }

  .authorCareer {
    margin-top: 3px;
    font: 300 14px Lato, sans-serif;
    color: #949494;
  }

  .buttons {
    margin-top: 45px;
    padding: 0 65px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .dotsContainer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0 1rem;

      .dot {
        height: 14px;
        width: 14px;
        border-radius: 50%;
        border: 2px solid var(--blue-500);

        &.active {
          background: var(--blue-500);
        }
      }
    }
  }
}
