.container {
  height: 160px;

  background-color: #0a0a0a;

  position: relative;

  @media (min-width: 1024px) {
    height: 111px;
    background: linear-gradient(180deg, #000000 29.73%, rgba(0, 0, 0, 0) 100%);
    position: sticky;
    top: 0;

    &.fixed {
      height: 63px;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      background: #fff;
      z-index: 10;
    }
  }
}

.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 1024px) {
    padding: 0 40px;
    justify-content: space-between;

    .dark {
      width: 92px;
      height: 41px;
    }
  }
}
