.container {
  padding-bottom: 88px;

  @media (min-width: 420px) {
    padding-bottom: 50px;
  }
}

.content {
  padding: 0 24px;

  .title {
    font-family: Playfair Display, sans-serif;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      color: var(--gold);
      font-size: 26px;
      font-style: italic;
      line-height: 34.66px;

      &:first-child {
        align-self: flex-start;
      }

      &:last-child {
        align-self: flex-end;
      }
    }

    h1 {
      font-weight: 400;
      font-size: 72px;
      color: #024b68;
      line-height: 95.98px;
    }
  }

  .description {
    margin-top: 146.3px;
    text-transform: uppercase;
    color: var(--gray-500);
    line-height: 31.24px;

    font: 300 22px Lato, sans-serif;

    span {
      font-weight: 400;
    }
  }

  a {
    margin-top: 41px;
    width: 100%;
    height: 50px;
    background: var(--blue-500);
    color: var(--gray-400);
    border: 0;
    border-radius: 2px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
  }

  @media (min-width: 1024px) {
    margin: 60px 0 0 100px;
    max-width: 480px;

    .title {
      p {
        font-size: 32px;
      }

      h1 {
        font-size: 90px;
      }
    }

    .description {
      margin-top: 60px;
      font-size: 24px;
    }

    a {
      width: 300px;

      transition: 0.8s;

      &:hover {
        background: transparent;
        border: 1px solid var(--gold);
      }
    }
  }
}
