.container {
  height: 780px;
  background-image: url(../../assets/deposit.png);
}

.content {
  height: 100%;
  padding: 0 24px;
  background: linear-gradient(
    rgba(0, 36, 50, 0.85) 3%,
    rgba(0, 36, 50, 0.98) 40%,
    rgba(0, 36, 50, 1)
  );

  h1 {
    padding-top: 60px;
    font: 400 53px Cormorant, sans-serif;
    line-height: 64.18px;
    color: var(--gold);
    text-transform: uppercase;
  }

  > span {
    display: inline-block;
    margin: 26px 0 19px;
    font: 400 28px Cormorant, sans-serif;
    font-style: italic;
    color: var(--gold);
  }
}

.guaranteesList {
  margin-top: 19px;
  list-style: none;
  color: var(--gray-500);

  li {
    font: 300 20px Lato, sans-serif;
    line-height: 24px;

    span {
      font-weight: 400;
    }

    & + li {
      margin-top: 30px;
    }

    &::before {
      content: "- ";
    }
  }
}

.button {
  margin: 50px 0;
  width: 100%;
  height: 55px;
  background: var(--gold);
  font: 400 18px Lato, sans-serif;
  color: #e0e0e0e0;
  border: 0;
  border-radius: 2px;
}
