.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;

  padding: 50px 0;

  .benefitTitle {
    text-transform: uppercase;
    margin-top: 16px;
    font: 600 24px Cormorant, sans-serif;
    color: var(--blue-400);
  }

  .benefitDescription {
    margin-top: 5px;
    font: 300 14px Lato, sans-serif;
    color: var(--gray-600);
  }

  .divider {
    height: 57px;
    width: 1px;
    background: #cccccc;

    &:last-child {
      display: none;
    }
  }

  @media (max-width: 1023px) {
    display: none;
  }
}
